# compiled output
/dist
/node_modules

# logs
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# os
.DS_Store
.os
Thumbs.db

# env
.env
.env.test
.env.production

# ide
.idea
.vscode
*.swp
*.iml

# coverage
coverage