apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: warranty-hub-ui-docs-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: warranty-hub-ui-docs
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75