# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json

# Build
dist
coverage

# Environment
.env
.env.test
.env.production

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db