# compiled output
/dist
/node_modules

# logs
npm-debug.log
yarn-error.log
error.log
access.log

# system files
.DS_Store
Thumbs.db

# editor files
.idea/
.vscode/
*.swp
*.swo

# environment variables
.env
.env.production
.env.test

# coverage directory
/coverage