# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/
storybook-static/
coverage/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
playwright-report/
test-results/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Android
android/app/build/
android/.gradle/

# iOS
ios/Pods/
ios/build/